#main{
    text-align: center; 
} 
/* body{
    background-color: lightgray;
} */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 146, 148);
}
button{
    background-color: white;
    box-shadow: 0 1px #999;
    margin: 20px;
    width: 80px;
}
button:active{
    
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

#button-container{
    display: flex;  
    justify-content: center;  
    align-items: center;  
    /*border: 4px solid gray;*/
    height: 60px;
    width: 500px;
    
}
#rock{
    border: 2px solid orange;
} 
#paper{
    border: 2px solid red;
}
#scissors{
    border: 2px solid rgb(172, 47, 255);
}
/* #new-game{
    border: 2px solid green;
    width: 120px;
} */
#display{
    white-space: pre;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    /*border: 4px solid gray;*/
}
#score{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    padding: 15px;
    font-family: sans-serif;
}